<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT awardItem ANY>
<!ATTLIST awardItem id ID #REQUIRED>
<!ELEMENT awards ANY>
<!ATTLIST awards id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1050" key="c46a3be7-3e77-4537-a57d-f084796e10a1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-12T18:35:00" updateDate="2017-02-12T19:05:18" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="homePage" />
  <settings id="1054" key="66071983-98cd-45e0-ba53-c4563c562df4" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-02-12T19:11:31" updateDate="2017-02-12T19:11:31" nodeName="Settings" urlName="settings" path="-1,1054" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="settings">
    <footer id="1061" key="0fb7c8da-6d79-481a-90e2-3e8d6d374aa8" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2017-02-12T20:58:43" updateDate="2017-02-12T20:59:36" nodeName="Footer" urlName="footer" path="-1,1054,1061" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="footer">
      <footerText><![CDATA[<p><a rel="nofollow" href="/en/terms.html" title="Terms and conditions">Terms and conditions</a> <br /> This website is owned and operated by Secure View Services Limited, 3rd Floor Methonis Tower, 73 Archbishop Makarios Avenue, Cyprus, using the gaming license of its holding company, Play UK Internet, N.V.</p>
<p>PlayUKinternet and its associated brands operate as an independent ticket purchasing service and are neither associated with nor endorsed by The National Lottery, MUSL, or Camelot Plc, nor any company that manages any product for which their services are employed</p>
<p>© 2017 Play UK Internet N.V</p>]]></footerText>
    </footer>
    <awards id="1062" key="64ab7e63-4204-4ba9-bbbf-e7acb3a1c4ca" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2017-02-12T20:59:49" updateDate="2017-02-12T20:59:49" nodeName="Awards" urlName="awards" path="-1,1054,1062" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awards">
      <awardItem id="1063" key="3b9fe61a-3479-43b6-a057-d5203f3d9ced" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2017-02-12T21:02:05" updateDate="2017-02-12T21:02:05" nodeName="Service Excellence" urlName="service-excellence" path="-1,1054,1062,1063" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awardItem" />
      <awardItem id="1064" key="704fd153-4cbe-4cbb-be4e-e2fdef0d0ade" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2017-02-12T21:02:30" updateDate="2017-02-12T21:02:30" nodeName="AntillePhone Licence Verification" urlName="antillephone-licence-verification" path="-1,1054,1062,1064" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awardItem" />
      <awardItem id="1065" key="4b0e1685-ad4d-4a4f-8071-1b67041468be" parentID="1062" level="3" creatorID="0" sortOrder="2" createDate="2017-02-12T21:02:47" updateDate="2017-02-12T21:02:47" nodeName="SRC" urlName="src" path="-1,1054,1062,1065" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awardItem" />
      <awardItem id="1066" key="4b6ca63a-33da-4444-8445-a30c1ec1b44c" parentID="1062" level="3" creatorID="0" sortOrder="3" createDate="2017-02-12T21:03:06" updateDate="2017-02-12T21:03:06" nodeName="ComodoSSL" urlName="comodossl" path="-1,1054,1062,1066" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awardItem" />
      <awardItem id="1067" key="53e4435c-b4e9-4fe5-8e41-9f65d40a7e56" parentID="1062" level="3" creatorID="0" sortOrder="4" createDate="2017-02-12T21:03:24" updateDate="2017-02-12T21:03:24" nodeName="Over18" urlName="over18" path="-1,1054,1062,1067" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="awardItem" />
    </awards>
  </settings>
</root>