@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FAqpage>

@{
    Layout = "WithRightSidebar.cshtml";
}

<div class="row">
    <div class="twoColWrapper col-lg-12">
        <div class="pageHeader">
            <h1>@Model.Content.PageTitle</h1>
        </div>
        <div class="pageContent">

            <div class="pageTitle">@Model.Content.Description</div>

            @if (Model.Content.Children.Any())
            {
                int cursIndex = 1;
                foreach (ContentModels.FAqitem faqItem in Model.Content.Children)
                {
                    <div class="faqWrapper">
                        <div class="faqHeader" title="#accordion-@cursIndex">
                            <span class="grey-med">@faqItem.Question</span> <span data-icon="a" class="open"></span>
                        </div>
                        <div id="accordion-@cursIndex" class="faqBody" style="display:none;">
                            <p>@faqItem.Answer</p>
                        </div>
                    </div>
                    cursIndex++;
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    (function ($) {
        $(document).ready(function () {

            function close_accordion_section() {
                $('.faqWrapper .faqHeader').removeClass('active');
                $('.faqWrapper .faqBody').slideUp(300).css("display", "none");
            }

            $('.faqWrapper .faqHeader').click(function (e) {

                if (!$(this).hasClass("active")) {
                    // Grab current anchor value
                    var currentAttrValue = $(this).attr('title');
                    close_accordion_section();

                    // Add active class to section title
                    $(this).addClass('active');
                    // Open up the hidden content panel
                    $('.faqWrapper ' + currentAttrValue).slideDown(300).css("display", "block");
                }

                e.preventDefault();
            });
        });
    })(jQuery);
</script>