@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ForgotPasswordPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}

@section head{
    <script src="~/Scripts/jquery.validate.min.js"></script>
}

<div class="row">
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () { jQuery('#email').focus() });
        //]]>
        jQuery("#forgottenPasswordForm").validate({
            rules: {
                userEmail: {
                    required: true,
                    email: true
                }
            }
        });

        jQuery.validator.addMethod(
        "regex",
        function(value, element, regexp)  {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        });

        jQuery('#userEmail').validate({
            email: {
                required: true,
                email: true
            }
        });

    </script>
    <div class="col-lg-12">
        <div class="pageContent">
            <div class="login-wrap">
                <h1>@Model.Content.DefaultHeadline</h1>

                @using (Html.BeginUmbracoForm("ForgottenPassword", "MemberLogin", null, new { id = "forgottenPasswordForm" }, FormMethod.Post))
                {
                    <div>
                        @Html.AntiForgeryToken()
                        <i class="icon search" style="font-size:3em;"></i>
                        <span><b>Моля имайте предвид:</b></span>
                        <br />
                        <p>Не можете да видите паролата си, тъй като е надеждно шифрована, така че ще бъде създадена и изпратена нова парола. След това вече няма да можете да използвате старата си парола!</p>

                        * <label for="email"> Имейл </label>
                        <input type="email" name="userEmail" id="userEmail" placeholder="Имейл" maxlength="40" style="" />

                        <div style="color: red;"></div>
                        <div class="buttons">
                            <input type="submit" name="commit" value="Нова парола" class="fullbtn" alt="Нова парола" title="Нова парола" />
                            <a href="/login"> Вход за потребители</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>