@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ForgotPasswordPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}

<div class="row">
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () { jQuery('#email').focus() });
//]]>
    </script>
    <div class="col-lg-12">
        <div class="pageContent">
            <div class="login-wrap">
                <h1>@Model.Content.DefaultHeadline</h1>

                <form id="forgottenPasswordForm" method="post" action="">
                    <i class="icon search" style="font-size:3em;"></i>
                    <span><b>Моля имайте предвид:</b></span>
                    <br />
                    <p>Не можете да видите паролата си, тъй като е надеждно шифрована, така че ще бъде създадена и изпратена нова парола. След това вече няма да можете да използвате старата си парола!</p>
                    *<label for="email">Имейл</label>
                    <input type="text" name="email" id="email" placeholder="Имейл" maxlength="40" style=""/>
                    <div style="color: red;"></div>
                    <div class="buttons">
                        <input type="submit" name="commit" value="Нова парола" class="fullbtn" alt="Нова парола" title="Нова парола" />
                        <a href="/login">Вход за потребители</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>