@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@{
    Layout = "BaseTemplate.cshtml";
}
<div class="col-lg-12">
    <div class="row">
        <div class="twoColWrapper ng-scope">
            <input type="hidden" name="culture" id="culture" value="en" />
            @{
                Html.RenderPartial("Carousel/_CarouselPartialView", Model);
                Html.RenderAction("RenderLotteryList", "LotteryGamesList");

                var settingItem = LottoDemo.WebApp.Helpers.ItemHelper.SettingsItem;
                var newsListRootId = settingItem.GetValue<int>("newsListRoot");
                var newsListPage = this.Umbraco.TypedContent(newsListRootId);
                int newsCount = settingItem.GetValue<int>("homeLatestNewsCount");
            }
            <div class="col-lg-12 ">
                <hr /><br />

                <div class="basket-entry-head">
                    <h3 class="News-Sub-Heading">@Umbraco.GetDictionaryValue("newsLatestNewsListTitle")</h3>
                </div>

                <br /><br />

                @if (newsListPage != null && newsListPage.Children.Any())
                {
                    foreach (ContentModels.NewsItem article in newsListPage.Children.Take(newsCount))
                    {
                        Html.RenderPartial("News/_NewsListPartial", article);
                    }
                }
            </div>
        </div>
    </div>
    <br /><br />
</div>