@using ContentModels = Umbraco.Web.PublishedContentModels;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>

@{
    Layout = "BaseTemplate.cshtml";
}

<div class="col-lg-12">
    <div class="row">
        <div class="twoColWrapper ng-scope" data-ng-app="homeApp" data-ng-controller="homeCtrl">
            <input type="hidden" name="culture" id="culture" value="en">
            <div>
                <div class="container ng-scope" data-ng-controller="carouselCtrl">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <!-- ngRepeat: img in images -->
                            <li data-target="#myCarousel" data-ng-repeat="img in images" class="{active : (img === 0)} ng-scope active" data-slide-to="0"></li><!-- end ngRepeat: img in images -->
                            <li data-target="#myCarousel" data-ng-repeat="img in images" class="{active : (img === 0)} ng-scope" data-slide-to="1"></li><!-- end ngRepeat: img in images -->
                        </ol>
                        <div class="carousel-inner">
                            <!-- ngRepeat: img in images --><div data-ng-class="{item: true, active : (img.id === 0)}" data-ng-repeat="img in images" class="ng-scope item active">
                                <!-- ngIf: (images.length-1) === $index -->
                                <!-- ngIf: img.image_url == '#phl-video' -->
                                <!-- ngIf: img.image_url != '#phl-video' --><span data-ng-if="img.image_url != &#39;#phl-video&#39;" class="ng-scope">
                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html">
                                        <img data-ng-src="/images/campaign/carousel/en/7553PHLPowerballCarousel1002en_1486731496.jpg" alt="Powerball Jackpot" width="1170" height="400" src="./HomePage_files/7553PHLPowerballCarousel1002en_1486731496.jpg">
                                    </a>
                                </span><!-- end ngIf: img.image_url != '#phl-video' -->
                            </div><!-- end ngRepeat: img in images --><div data-ng-class="{item: true, active : (img.id === 0)}" data-ng-repeat="img in images" class="ng-scope item">
                                <!-- ngIf: (images.length-1) === $index --><div data-ng-if="(images.length-1) === $index" class="ng-scope">
                                    <div class="jackpot-carousel">
                                        <div class="jackpot-lottery-name ng-binding">
                                            Powerball
                                        </div>
                                        <div class="jackpot-amount">
                                            <strong data-ng-bind-html="jackpot_details.currency_symbol" class="ng-binding">US</strong> <span data-ng-bind-html="jackpot_details.jackpot_amount" class="ng-binding">$285,000,000</span>
                                        </div>
                                        <div class="jackpot-payout">
                                            <!-- ngIf: jackpot_details.cash_payout --><span data-ng-if="jackpot_details.cash_payout" class="ng-scope">
                                                cash payout:            <strong>US</strong> $<span data-ng-bind-html="jackpot_details.cash_payout" class="ng-binding">172,500,000</span>
                                            </span><!-- end ngIf: jackpot_details.cash_payout -->
                                            <span data-ng-else=""><br></span>
                                        </div>
                                        <hr class="banner-hr">
                                        <div style="width:660px;">
                                            <span class="date">
                                                Draw date:&nbsp;
                                                <strong>11-02-2017</strong>
                                            </span>
                                            <br>
                                            <div class="time">
                                                <div data-timer="" data-end-time="1486854000000" class="ng-isolate-scope">
                                                    <div class="timer-block ng-scope">
                                                        <span class="timer-number ng-binding" data-ng-bind-html="days">0</span><br>
                                                        days
                                                    </div>
                                                    <div class="timer-block ng-scope">
                                                        <span class="timer-number ng-binding" data-ng-bind-html="hours">4</span><br>
                                                        hours
                                                    </div>
                                                    <div class="timer-block ng-scope">
                                                        <span class="timer-number ng-binding" data-ng-bind-html="minutes">17</span> <br>
                                                        minutes
                                                    </div>
                                                    <div class="timer-block ng-scope">
                                                        <span class="timer-number ng-binding" data-ng-bind-html="seconds">38</span><br>
                                                        seconds
                                                    </div>
                                                </div>
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html">
                                                    <div class="timer-block timer-play">
                                                        Play Now
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end ngIf: (images.length-1) === $index -->
                                <!-- ngIf: img.image_url == '#phl-video' -->
                                <!-- ngIf: img.image_url != '#phl-video' --><span data-ng-if="img.image_url != &#39;#phl-video&#39;" class="ng-scope">
                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html">
                                        <img data-ng-src="/site/playhugelottos_com/images/playnow_bg-en-2017.jpg" alt="Play The Lottery" width="1170" height="400" src="./HomePage_files/playnow_bg-en-2017.jpg">
                                    </a>
                                </span><!-- end ngIf: img.image_url != '#phl-video' -->
                            </div><!-- end ngRepeat: img in images -->
                        </div>
                        <a class="left carousel-control home-slider" href="https://www.playusalotteries.com/#myCarousel" role="button" id="left-home-slider" data-icon="u" data-slide="prev"></a>
                        <a class="right carousel-control home-slider" href="https://www.playusalotteries.com/#myCarousel" role="button" id="right-home-slider" data-icon="w" data-slide="next"></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="recent-wrap">
                    <div class="col-lg-12">
                        <div id="newsTicker">
                            <div id="innerNewsTickerLeft">RECENT WINNERS:</div>
                            <div id="innerNewsTickerRight">Jens Chr J has won €29.35 on UKLottery&nbsp;&nbsp;&nbsp; Dick R has won $30.51 on SuperEnaMax&nbsp;&nbsp;&nbsp; Renate S has won €188.60 on GermanLotto&nbsp;&nbsp;&nbsp; Robert K has won €47.30 on GermanLotto</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 ">
                <div>
                    <div class="basket-entry-head-sml">
                        <h1>Play lottery online</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <!--        <h4>--><!--</h4>-->
                            <div class="row">
                                <div class="en nextdraw">
                                    <div class="lottoryblocks-wrapper">
                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="Powerball" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/powerball.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html" title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com">
                                                            Powerball
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    US&nbsp;&nbsp; 285,000,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486854000000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">4h</span> :
                                                                    <span class="ng-binding">17m</span> :
                                                                    <span class="ng-binding">38s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play USA Powerball Lottery Online, buy the American Powerball lotto tickets on PlayUSAlotteries.com" class="single" id="lotto_id_4" href="https://www.playusalotteries.com/en/play-the-lottery/the-american-powerball-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="SuperEnaMax" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/superenamax.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html" title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com">
                                                            SuperEna Max
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>14-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play The SuperEna Max Lottery online, buy Super Ena Max lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_22" href="https://www.playusalotteries.com/en/play-the-lottery/the-superena-max.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="SuperEnaLotto" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/superenalotto.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html" title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com">
                                                            SuperEnaLotto
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486828800000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">0h</span> :
                                                                    <span class="ng-binding">0m</span> :
                                                                    <span class="ng-binding">0s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com" class="single" id="lotto_id_6" href="https://www.playusalotteries.com/en/play-the-lottery/the-superenalotto-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                                        <span class="pending">
                                                            <img alt="EuroMillions" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/euromillions.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html" title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery">
                                                            EuroMillions
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    EU&nbsp;&nbsp; 46,000,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>14-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery" class="single" id="lotto_id_2" href="https://www.playusalotteries.com/en/play-the-lottery/the-euromillions-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="MegaMillions" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/megamillions.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html" title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com">
                                                            Mega Millions
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    US&nbsp;&nbsp; 38,000,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>14-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play Mega Millions Lottery Online, buy MegaMillions lotto tickets on PlayUSAlotteries.com" class="single" id="lotto_id_5" href="https://www.playusalotteries.com/en/play-the-lottery/the-megamillions-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="UKLottery" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/uklottery.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html" title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com">
                                                            UK Lottery
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486832400000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">0h</span> :
                                                                    <span class="ng-binding">0m</span> :
                                                                    <span class="ng-binding">0s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play UK National Lottery online, buy UK National Lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_1" href="https://www.playusalotteries.com/en/play-the-lottery/the-uk-national-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="MegaSena" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/megasena.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html" title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com">
                                                            Mega Sena
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486825200000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">0h</span> :
                                                                    <span class="ng-binding">0m</span> :
                                                                    <span class="ng-binding">0s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play Mega Sena lottery online, buy Brazil MegaSena lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_16" href="https://www.playusalotteries.com/en/play-the-lottery/the-mega-sena-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="SuperLottoPlus" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/superlottoplus.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html" title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com">
                                                            SuperLotto Plus
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    US&nbsp;&nbsp; 11,000,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486854000000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">4h</span> :
                                                                    <span class="ng-binding">17m</span> :
                                                                    <span class="ng-binding">38s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play SuperLottoPlus Lottery online, buy Super Lotto Plus Lottery tickets at PlayUSAlotteries.com" class="single" id="lotto_id_14" href="https://www.playusalotteries.com/en/play-the-lottery/the-superlottoplus-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="EuroJackpot" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/eurojackpot.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html" title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com">
                                                            EuroJackpot
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    EU&nbsp;&nbsp; 10,000,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>17-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_17" href="https://www.playusalotteries.com/en/play-the-lottery/the-euro-jackpot-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="GermanLotto" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/germanlotto.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html" title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com">
                                                            Lotto 6aus49
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>15-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play Lotto 6aus49 German Lottery online, buy Lotto 6aus49 German Lottery tickets at PlayUSAlotteries.com" class="single" id="lotto_id_23" href="https://www.playusalotteries.com/en/play-the-lottery/the-german-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="FranceLoto" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/franceloto.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html" title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com">
                                                            France Loto
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486832400000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">0h</span> :
                                                                    <span class="ng-binding">0m</span> :
                                                                    <span class="ng-binding">0s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com" class="single" id="lotto_id_15" href="https://www.playusalotteries.com/en/play-the-lottery/play-france-loto.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="ElGordo" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/elgordo.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html" title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com">
                                                            El Gordo
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <div data-timer="" data-end-time="1486825200000" class="ng-isolate-scope">
                                                            <div class="ng-scope">
                                                                <strong>
                                                                    <span class="ng-binding">0h</span> :
                                                                    <span class="ng-binding">0m</span> :
                                                                    <span class="ng-binding">0s</span>
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_13" href="https://www.playusalotteries.com/en/play-the-lottery/play-el-gordo.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="OzPowerball" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/ozpowerball.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html" title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com">
                                                            Oz Powerball
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    US&nbsp;&nbsp; 2,200,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>16-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play Oz Powerball lottery online, buy Australian Powerball lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_12" href="https://www.playusalotteries.com/en/play-the-lottery/the-australian-powerball-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="LaPrimitiva" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/laprimitiva.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html" title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com">
                                                            La Primitiva
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    <span class="pending">Results Pending</span>

                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        11-02-2017
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play La Primitiva Spanish Lottery online, buy La Primitiva Lotto tickets at PlayUSAlotteries.com" class="single" id="lotto_id_21" href="https://www.playusalotteries.com/en/play-the-lottery/la-primitiva-spanish-lotto.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                        </a><div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                            <a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                            </a><div class="pb-holder">
                                                <a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                                </a><div class="pb-logo">
                                                    <a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                                        <span class="pending">
                                                            <img alt="OzLotto" class="lottery-logo-img" width="232" height="82" src="./HomePage_files/ozlotto.svg">
                                                        </span>
                                                    </a><h2 class="lottos">
                                                        <a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                                        </a><a href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html" title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com">
                                                            Oz Lotto
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div class="pb-amount">
                                                    US&nbsp;&nbsp; 1,500,000
                                                    <span class="jackpotamounts_small">
                                                    </span>
                                                </div>
                                                <div class="pb-counter">

                                                    <div class="counter">
                                                        <strong>14-02-2017</strong>
                                                    </div>
                                                </div>
                                                <div class="pb-btn">
                                                    <div>
                                                        <a title="Play and Buy ticket for Australia&#39;s Oz Lotto lottery online at PlayUSAlotteries.com" class="single" id="lotto_id_11" href="https://www.playusalotteries.com/en/play-the-lottery/the-oz-lotto-lottery.html">Play now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="basket-entry-head-sml">
                                <h1>Buy online raffle tickets</h1>
                            </div>
                            <div class="row">

                                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-6 lottery-fullbox">
                                    <div class="pb-holder">
                                        <div class="pb-logo">
                                            <h2><img class="lottery-logo-img" border="0" width="" height="82px" margin-top="15px" src="./HomePage_files/loterianacionalextra.svg" alt="Loterianacionalextra"></h2>
                                        </div>
                                        <div class="pb-amount">
                                            Next raffle coming soon
                                        </div>
                                        <div class="pb-counter">
                                            <div id="counter">
                                            </div>
                                        </div>
                                        <div class="pb-btn">
                                            <div class="single">
                                                Coming soon
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 ">
                <hr><br>
                <div class="basket-entry-head">
                    <h3 class="News-Sub-Heading">
                        Latest news&nbsp;&nbsp;
                    </h3>
                </div>
                <br><br>

                <section class="post-list">
                    <article class="post post type-post hentry hreview post short clearfix">
                        <!-- \\ ARTICLE \\ -->
                        <div class="col-lg-12 blog-main-wrap panelWhite">

                            <div class="col-md-2 col-sm-2 blog-preview-image-holder">
                                <div class="row rowL247">
                                    <a title="International Lottery News" href="https://www.playusalotteries.com/en/lottery-news/article/9854/powerball-rockets-up-to-285-million.html">
                                        <img alt="International Lottery News" class="blog-pre-img img-responsive" src="./HomePage_files/1486646756.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="blog-preview-content-wrap">
                                    <h3>
                                        <a title="Powerball Rockets Up To $285 Million" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9854/powerball-rockets-up-to-285-million.html">Powerball Rockets Up To $285 Million</a>
                                    </h3>
                                    <span class="post-date">
                                        <time datetime="2017-02-09" title="2017-02-09" class="date dtreviewed">09-02-2017</time>
                                        <!--                            <time class="date"><a rel="author" title="--><!--" href="--><!--">--><!--</a></time>-->
                                        <span class="text-primary">
                                            |

                                            <a title="Powerball Rockets Up To $285 Million" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9854/powerball-rockets-up-to-285-million.html#comments">Be the first to comment</a>
                                        </span>
                                    </span>
                                    <br class="Hide">
                                    <span class=" labels label-defaults" style="text-decoration: underline"><a rel="tag" href="https://www.playusalotteries.com/en/lottery-news-category/14/powerball-results.html" class="post_channel tech" title="Powerball Results"> Powerball Results</a></span><br class="Hide">
                                    The US Powerball jackpot has once again rolled over, this time to a jaw-dropping $285 million after Wednesday night’s draw resulted in no jackpot winner. Read further to find out all the juicy American lotto results that will ultimately make one usa lotto ticket holder a huge amount of money!
                                </div>
                            </div>

                        </div>
                        <!-- \\ ARTICLE \\ -->
                    </article>
                </section>

                <section class="post-list">
                    <article class="post post type-post hentry hreview post short clearfix">
                        <!-- \\ ARTICLE \\ -->
                        <div class="col-lg-12 blog-main-wrap panelWhite">

                            <div class="col-md-2 col-sm-2 blog-preview-image-holder">
                                <div class="row rowL247">
                                    <a title="International Lottery News" href="https://www.playusalotteries.com/en/lottery-news/article/9844/powerball-win-thanks-to-going-to-the-comic-book-store.html">
                                        <img alt="International Lottery News" class="blog-pre-img img-responsive" src="./HomePage_files/1486383798.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="blog-preview-content-wrap">
                                    <h3>
                                        <a title="Powerball Win Thanks To Going To The Comic Book Store" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9844/powerball-win-thanks-to-going-to-the-comic-book-store.html">Powerball Win Thanks To Going To The Comic Book Store</a>
                                    </h3>
                                    <span class="post-date">
                                        <time datetime="2017-02-06" title="2017-02-06" class="date dtreviewed">06-02-2017</time>
                                        <!--                            <time class="date"><a rel="author" title="--><!--" href="--><!--">--><!--</a></time>-->
                                        <span class="text-primary">
                                            |

                                            <a title="Powerball Win Thanks To Going To The Comic Book Store" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9844/powerball-win-thanks-to-going-to-the-comic-book-store.html#comments">Be the first to comment</a>
                                        </span>
                                    </span>
                                    <br class="Hide">
                                    <span class=" labels label-defaults" style="text-decoration: underline"><a rel="tag" href="https://www.playusalotteries.com/en/lottery-news-category/6/lottery-winners-stories.html" class="post_channel tech" title="Lottery Winners Stories"> Lottery Winners Stories</a></span><br class="Hide">
                                    Kent Li loves comic books, and it was during a trip to the comic book store that he decided to also buy a Powerball lottery ticket. It’s a good thing the comic books where calling him that day, as he won $1.5 million.
                                </div>
                            </div>

                        </div>
                        <!-- \\ ARTICLE \\ -->
                    </article>
                </section>

                <section class="post-list">
                    <article class="post post type-post hentry hreview post short clearfix">
                        <!-- \\ ARTICLE \\ -->
                        <div class="col-lg-12 blog-main-wrap panelWhite">

                            <div class="col-md-2 col-sm-2 blog-preview-image-holder">
                                <div class="row rowL247">
                                    <a title="International Lottery News" href="https://www.playusalotteries.com/en/lottery-news/article/9839/powerball-rolls-up-to-255-million.html">
                                        <img alt="International Lottery News" class="blog-pre-img img-responsive" src="./HomePage_files/1486306105.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="blog-preview-content-wrap">
                                    <h3>
                                        <a title="Powerball Rolls Up To $255 million" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9839/powerball-rolls-up-to-255-million.html">Powerball Rolls Up To $255 million</a>
                                    </h3>
                                    <span class="post-date">
                                        <time datetime="2017-02-05" title="2017-02-05" class="date dtreviewed">05-02-2017</time>
                                        <!--                            <time class="date"><a rel="author" title="--><!--" href="--><!--">--><!--</a></time>-->
                                        <span class="text-primary">
                                            |

                                            <a title="Powerball Rolls Up To $255 million" class="headline" href="https://www.playusalotteries.com/en/lottery-news/article/9839/powerball-rolls-up-to-255-million.html#comments">Be the first to comment</a>
                                        </span>
                                    </span>
                                    <br class="Hide">
                                    <span class=" labels label-defaults" style="text-decoration: underline"><a rel="tag" href="https://www.playusalotteries.com/en/lottery-news-category/14/powerball-results.html" class="post_channel tech" title="Powerball Results"> Powerball Results</a></span><br class="Hide">
                                    The US Powerball lottery has done it again – and rolled over to yet another massive rollover jackpot. This time online usa lotto players have $255 million to play for!
                                </div>
                            </div>

                        </div>
                        <!-- \\ ARTICLE \\ -->
                    </article>
                </section>
            </div>
        </div>
    </div>
    <br><br>
</div>