@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HowToPlay>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}
<div class="row">
    <div class="twoColWrapper col-lg-12">
        <div class="pageHeader ">
            <h1>How to Play Lottery Online</h1>
        </div>
        <div class="pageContent">
            <div class="col-lg-12">
                <div class="row">PlayHugeLottos.com lets you play all your favourite international lotteries easily and securely online. <br><br> Learning how to <b>play lottery online</b> will only take a few moments of your time! To play the lottery online with PlayHugeLottos.com you can follow this simple procedure:</div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_01.png" border="0" alt="How to play the lottery online" title="How to play the lottery online" style="border: 0px none;"></div>
                        <div class="col-md-6">
                            <h3>Step 1 – Register</h3>
                            Registration is quick and easy. Simply click on the REGISTER link at the top of the page. Fill in the pop-up that appears and submit.<br><br> Your account is now created and you may play the biggest lotteries in the world online.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6">
                            <h3>Step 2 - Select lottery</h3>
                            Click on any PLAY NOW link and choose the lottery you wish to play by clicking on it.
                            <br><br> You will then be directed to a play block for that particular lotto game.
                        </div>
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_02.png" border="0" alt="Select the lottery you wish to play" title="Select the lottery you wish to play" style="border: 0px none;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_03.png" border="0" alt="Choose your lottery numbers" title="Choose your lottery numbers" style="border: 0px none;"></div>
                        <div class="col-md-6">
                            <h3>Step 3 - Choose lottery numbers &amp; timespan</h3>
                            You have the option to select your own numbers or alternatively you can use the&nbsp;QUICK PICK&nbsp;button to quickly select a randomly generated set of numbers. 				<br><br> Click on the right scroll button to add further entries. 				<br><br> You also have the option to select the draw date for your tickets along with the length of time you wish your numbers to run for.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6">
                            <h3>Step 4 - Add to cart &amp; play</h3>
                            Once your numbers and draw days are selected all that remains is for you to click on the ADD TO CART button and proceed to CHECKOUT.
                        </div>
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_04.png" border="0" alt="Add your lottery entries to cart" title="Add your lottery entries to cart" style="border: 0px none;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_05a.png" border="0" alt="Check your lottery numbers" title="Check your lottery numbers" style="border: 0px none;"></div>
                        <div class="col-md-6">
                            <h3>Step 5 - Pay for ticket / Checkout</h3>
                            Confirm that you are happy with your tickets and CONTINUE TO PAYMENT.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <hr>
                    <div class="card-info-wrap">
                        <div class="col-md-6">
                            <h3>Step 6 - What happens if I win?</h3>
                            In the event of a win you will receive an email notification (or telephone call for any win over £200) and your funds will automatically be loaded to your play account. 				<br><br> Best of luck when playing!
                        </div>
                        <div class="col-md-6"><img class="steps-img" src="~/images/step_05.png" border="0" alt="Play the lottery online" title="Play the lottery online" style="border: 0px none;"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="server_time" id="server_time" value="2017-02-19">
        </div>
    </div>
</div>