@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HowToPlay>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}
<div class="row">
    <div class="twoColWrapper col-lg-12">

        <div class="pageHeader ">
            <h1>@Model.Content.PageTitle</h1>
        </div>

        <div class="pageContent">

            <div class="col-lg-12">
                <div class="row">@Model.Content.PageDescription</div>
            </div>

            @if (Model.Content.Children.Any())
            {
                foreach (ContentModels.ContentSection contentSection in Model.Content.Children)
                {
                    Html.RenderPartial("HowToPlay/_ContentSection", contentSection);
                }
            }

            <input type="hidden" name="server_time" id="server_time" value="2017-02-19">
        </div>
    </div>
</div>