@using ContentModels = Umbraco.Web.PublishedContentModels;
@using LottoDemo.WebApp.Controllers.WebAPI;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LotteryGame>
@{
    Layout = "BaseTemplate.cshtml";
    
    ViewBag.GameKey = Umbraco.Content(Model.Content.Id).Key;
    var autoGenerateNumbersUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.GetUmbracoApiService<LotteryGameController>("GetRandomNumbers"));
}
@section head {
    <script src="~/Scripts/custom/single-ticket-box.js"></script>
    <script src="~/Scripts/custom/user-cart.js"></script>
    <script type="text/javascript">
        AutoGenerateNumbersUrl = '@autoGenerateNumbersUrl';
    </script>
}

<div class="col-lg-12">
    <div class="row">
        <div class="twoColWrapper ng-scope" style="background-color: #fff">
            <input type="hidden" name="culture" id="culture" value="en">
            <div class="playpage">
                @{
                    Html.RenderAction("RenderHeader", "GameDetails");
                    Html.RenderAction("RenderTicketBoxes", "GameDetails");
                    Html.RenderAction("RenderCart", "GameDetails");
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>
