@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}
<div class="row">
    <div class="twoColWrapper col-lg-12">
        <div class="rowL247">

            <div class="pageHeader">
                <h1>@Model.Content.PageTitle</h1>
            </div>

            <div class="pageContent">
                <br />

                @if (Model.Content.Children.Any())
                {
                    foreach (ContentModels.NewsItem article in Model.Content.Children)
                    {
                        Html.RenderPartial("News/_NewsListPartial", article);                      
                    }
                }

            </div>

        </div>
    </div>
</div>