@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UserEntriesPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WithRightSidebar.cshtml";
}
<div class="row">
    <div class="twoColWrapper col-lg-12" style="background-color: #fff">
        <div class="pageHeader">
            <h1>История на лотарийните ви билети</h1>
        </div>
        <div class="pageContent">
            <div>Натиснете върху лотарийна игра за да видите съдържанието</div>
            @{ Html.RenderAction("UserTicketsList", "UserTicketsHistory");}
        </div>
    </div>
</div>