@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BaseTemplate.cshtml";
}
<div class="col-lg-9 pageLeft">
    @RenderBody()
</div>
<div class="col-lg-3 pageRight hidden-sm hidden-md hidden-xs">
    <div id="rightCol">

        <script type="text/javascript">
            (function ($) {
                //----------------------------------------------------------------
                // ready
                //----------------------------------------------------------------
                $(document).ready(function () {

                    $('.ajax-poll-form').each(function () {
                        var obj = new CAjaxPoll(this);
                        obj.run();
                    });

                    $('.ajax-poll-item').click(function () {

                        $('.ajax-poll-item').removeClass("ajax-poll-item-sel");
                        $(this).addClass("ajax-poll-item-sel");

                        var id = $(this).attr('id');
                        $('#check_' + id).attr('checked', 'checked');
                        $('#ajax-poll-btn-vote').attr('disabled', false);
                    });

                });

            }(jQuery));
        </script>

        <div class="adWrapper">
            <div id="pollWrapper"></div>
            <br class="Hide" />

            @{
                var settingItem = LottoDemo.WebApp.Helpers.ItemHelper.SettingsItem;
                int advertisesRootId = settingItem.GetValue<int>("advertises");
                var advertisesRootPage = this.Umbraco.TypedContent(advertisesRootId);

                if (advertisesRootPage != null && advertisesRootPage.Children.Any())
                {
                    foreach (ContentModels.RightColumnAdvertising advertise in advertisesRootPage.Children)
                    {
                        <div class="adContainer" style="padding-left:40px;padding-right:40px;padding-bottom:0px; background-color: #fff">
                            <a href="#" onclick="return false;">
                                <img border="0" alt="Support and service excellence" src="@Umbraco.Media(advertise.Image).umbracoFile.src" />
                            </a>
                        </div>
                    }
                }
            }

        </div>

    </div>
</div>
