


<div class="col-lg-12">
    <div class="pageContent">
        <div class="login-wrap">
            <h1>Forgotten password</h1>
            <form name="lostpassword" method="post" action="/en/forgot/password.html">
                <i class="icon search" style="font-size:3em;"></i><span><b>Please note:</b></span>
                <br />
                <p>We cannot view your password as it is securely encrypted, so a NEW password will be created and sent to you. After this you will no longer be able to use your old password!</p>
                *<label for="email">Email</label>
                <input type="text" name="email" id="email" value="" maxlength="40" style=""/>
                <div style="color: red;">
                </div>
                <div class="buttons">
                    <input type="submit" name="commit" value="New password" class="fullbtn" alt="New password" title="New password"/>
                    <a href="/en/login.html">Enter login details</a>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="col-lg-12">
    <div class="pageHeader">
        <h1>Forgotten password</h1>
    </div>
    <br>
    <div class="pageContent">
        <div class="alert alert-success" role="alert">
            <p>A new password has been sent to your registered email address.</p>
        </div>
        <div class="buttons">
            <input id="play_continue_button" alt="Login" title="Login" value="Login" type="button" onclick="document.location.href='/en/login.html';" />
        </div>
    </div>
</div>