


<div class="col-lg-12">
    <div class="pageContent">
        <div class="login-wrap">
            
            <form id="frmLogin" name="frmLogin" autocomplete="off" method="post" action="/en/login.html">
                <br />
                <h3 class="lead"><i class="icon lockclosed"></i>Member login</h3>
                <div id="pageContent">
                    <input type="text" name="login[email]" id="login_email" value="" maxlength="80" tabindex="1" placeholder="Email" style="">
                    <input type="password" name="login[password]" id="login_password" value="" maxlength="50" tabindex="2" placeholder="Password" style="">
                    <div class="buttons-align">
                        <input type="submit" name="commit" value="Login" alt="Login" title="Login" tabindex="3" class="fullbtn">
                    </div>

                    <a href="/en/forgot/password.html">Forgot password?</a> |
                    <a data-toggle="modal" data-target="#myModal" href="#">Create an account</a>
                </div>
            </form>

        </div>
    </div>
</div>
