
<div class="DisclaimerWrapper">
    <div class="container">
        <div class="col-lg-12">
            <p>
                Този уебсайт е собственост и се управлява от XXX компания, ХХХ адрес, Кипър, използвайки лиценза за хазарт на холдинговата си компания.
            </p>
            <p>
                Компанията и свързаните с него марки функционират като независима услуга за закупуване на билети и
                Не са свързани или одобрени от Националната лотария, MUSL или Camelot Plc, нито от която и да е фирма, която управлява продукт, за който са наети техните услуги
            </p>
            <p> © 2017 България</p>
        </div>
    </div>
</div>