
<div class="DisclaimerWrapper">
    <div class="container">
        <div class="col-lg-12">
            <p>
                <a rel="nofollow" title="Terms and conditions" href="https://www.playusalotteries.com/en/terms.html">Terms and conditions</a><br>
                This website is owned and operated by Secure View Services Limited, 3rd Floor Methonis Tower, 73 Archbishop Makarios Avenue, Cyprus, using the gaming license of its holding company, Play UK Internet, N.V.
            </p>
            <p>PlayUKinternet and its associated brands operate as an independent ticket purchasing service and are neither associated with nor endorsed by The National Lottery, MUSL, or Camelot Plc, nor any company that manages any product for which their services are employed</p>
            <p> © 2017 Play UK Internet N.V</p>
        </div>
    </div>
</div>