
<div class="container">
    <div id="topRow">
        <div class="container LogoWrapper hidden-xs">
            <div class="col-lg-6 col-sm-6">
                <div class="gohome">
                    <a href="/"><img src="~/images/logo.png" alt="Logo"></a>
                    <div class="strap"> Providing secure ticket purchasing services since 1998. </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" style="height: 60px;"><div>&nbsp;</div></div>
        </div>
        <div class="container navbar-main hidden-smart  ">
            <div id="mainNav">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="/"><span data-icon="e" class="icon"></span></a></li>
                    <li class="playnow"><a href="https://www.playusalotteries.com/en/play-the-lottery.html">Play now!</a></li>
                    <li><a href="https://www.playusalotteries.com/en/how-to-play-the-lottery.html">How to play</a></li>
                    <li><a href="https://www.playusalotteries.com/en/lotto-results-and-winning-numbers.html">Results &amp; winnings</a></li>
                    <li><a href="https://www.playusalotteries.com/en/lottery-news.html">News</a></li>
                    <li><a href="https://www.playusalotteries.com/en/faq.html">FAQ</a></li>
                    <li><a rel="nofollow" class="" href="https://www.playusalotteries.com/en/contact.html">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>