
<div class="PaymentLogoWrapper">
    <div class="container hidden-sm hidden-xs">
        <div class="col-lg-12">
            <a href="#" onclick="return false;" rel="nofollow">
                <img alt="Visa" height="57" width="110" src="~/Content/Images/Payments/visa_logo.svg">                                                                                                
                <img alt="MasterCard" height="57" width="110" src="~/Content/Images/Payments/mastercard_logo.svg">
                <img alt="Entropay" height="57" width="110" src="~/Content/Images/Payments/entropay_logo.svg">
                <img alt="Skrill" height="57" width="110" src="~/Content/Images/Payments/skrill_logo.svg">
                <img alt="Neteller" height="57" width="110" src="~/Content/Images/Payments/neteller_logo.svg">
                <img alt="Paysafecard" height="57" width="110" src="~/Content/Images/Payments/paysafecard.svg">
                <img alt="PostPay" height="57" width="110" src="~/Content/Images/Payments/postpay_logo.svg">
                <img alt="Bank Transfer" height="57" width="110" src="~/Content/Images/Payments/banktransfer_logo.svg">
                <img alt="epro" height="57" width="110" src="~/Content/Images/Payments/epro.svg">
            </a>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="col-lg-12" id="footer-adverts-box">
            <a href="#footer-adverts-box" onclik="return false;"><img alt="Support Rating" width="110" height="110" src="~/Content/Images/Awards/support_rating.svg" /></a>
            <a href="#footer-adverts-box" onclik="return false;"><img alt="antilles" width="110" height="110" src="~/Content/Images/Awards/antilles.svg" /></a>
            <a href="#footer-adverts-box" onclik="return false;"><img alt="SRC" width="110" height="110" src="~/Content/Images/Awards/src.svg" /></a>
            <a href="#footer-adverts-box" onclik="return false;"><img alt="Comodo" width="110" height="110" src="~/Content/Images/Awards/comodo_logo.svg" /></a>
            <a href="#footer-adverts-box" onclik="return false;"><img alt="Underage" width="110" height="110" src="~/Content/Images/Awards/18.svg" /></a>
        </div>
    </div>
</div>
